@model ServiceCenter.Client.Mvc.Areas.WIP.Models.PackageReworkViewModel
@using ServiceCenter.MES.Model.WIP;
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Areas.WIP.Models;
@using WIPRsources = ServiceCenter.Client.Mvc.Resources.WIP;
@using ServiceCenter.Client.Mvc.Resources;

@{
    ViewBag.Title = WIPRsources.StringResource.PackageRework_ManagePageTitle;
}
<h2>@ViewBag.Title</h2>
@using (Ajax.BeginForm("Save", "PackageRework", null
                    , new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        Confirm = "确定进行投料操作？",
                        OnSuccess = "completeSave",
                        OnBegin = "beginSave"
                    }
                    , new { @class = "form-horizontal", resource = "form", id = "frmRework", autocomplete = "off" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="button" value="@StringResource.Save" class="btn btn-primary" id="btnSave" />
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @* 车间 *@
                @*<div class="col-md-1">
                    @Html.LabelFor(m => m.LocationName, new { @class = "control-label" })
                </div>*@                
                @Html.LabelFor(m => m.LocationName, new { @class = "col-md-1 control-label" })
                <div class="col-md-1">
                    @Html.DropDownListFor(m => m.LocationName, @Model.GetLocationName(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LocationName)
                </div>

                @* 线别 *@
                @Html.LabelFor(m => m.LineCode, new { @class = "col-md-1 control-label" })
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.LineCode, new List<SelectListItem>(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LineCode)
                </div>

                @* 是否保留托号 *@
                @Html.LabelFor(m => m.RetainPackageNo, new { @class = "col-md-1 control-label" })
                <div class="col-md-1">
                    @Html.CheckBoxFor(m => m.RetainPackageNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RetainPackageNo)
                </div>

                @* 是否按批次号投料 *@
                @Html.LabelFor(m => m.IsLot, new { @class = "col-md-1 control-label" })
                <div class="col-md-1">
                    @Html.CheckBoxFor(m => m.IsLot, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IsLot)
                </div>
            </div>

            @*<div class="form-group">
               
            </div>*@

            <div class="form-group has-success">
                <div class="col-md-12">
                    <label class ="control-label">托号</label>                    
                    @Html.TextBoxFor(m => m.PackageNo, new { @class = "form-control", @style = "height:50px;font-size:20px;text-transform:uppercase;" })
                </div>

                <div class="col-md-12">
                    <label class="control-label">批次号</label>
                    @Html.TextBoxFor(m => m.LotNumber, new { @class = "form-control", @style = "height:50px;font-size:20px;text-transform:uppercase;" })
                </div>
            </div>
            <div class="alert fade in hide" resource="alert" id="statusMessage" style="margin:0px">
                <button type="button" class="close" onclick="hideStatusMessage()">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <p></p>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript" language="javascript">
        $(function () {

            $("#LocationName").change(function () {
                changeLineCode();
            });

            changeLineCode();

            $("#btnSave").click(function () {
                hideStatusMessage();

                $("#frmRework").submit();
            });
        });

        function changeLineCode() {
            $("#LineCode").get(0).options.length = 0; //清空
            var url = "@Url.Action("GetLineCodeListByLocation", "PackageRework", new { area = "WIP" })";
            var locationName = $("#LocationName").val();
            var timestamp = Math.round(new Date().getTime() / 1000);
            var reqdata = { LocationName: locationName, timestamp: timestamp };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item.Value).text(item.Text).appendTo($("#LineCode"));
                });
            });
        }

        //隐藏状态消息
        function hideStatusMessage() {
            $("#statusMessage").addClass("hide");
        }

        function beginSave() {
            $("#btnSave").attr("disabled", "disabled");
            hideStatusMessage();
        }

        function completeSave(result) {
            $("#btnSave").removeAttr("disabled");
            showErrorInfo(result);
            $("#LotNumber:first").select();
        }

        function showErrorInfo(result) {
            $("#statusMessage").find("p").html(result.Message);
            $("#statusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#statusMessage").removeClass("alert-success");
                $("#statusMessage").addClass("alert-danger");
            }
            else {
                $("#statusMessage").removeClass("alert-danger");
                $("#statusMessage").addClass("alert-success");
            }
        }
    </script>

    @*<script type="text/javascript" language="javascript">
        $(function () {

            $("#LocationName").change(function () {
                changeLineCode();
            });

            changeLineCode();

            var isChanging1 = false;

            $("#PackageNo").keypress(function (args) {
                if (args.ctrlKey == false && args.keyCode == 13) {
                    $(this).change();
                }
            }).change(function () {

                if (isChanging1 == true) {
                    return;
                }

                isChanging1 = true;
                hideStatusMessage();
                var url = "@Url.Action("GetOrderNumberByPackageNo", "PackageRework", new { area = "WIP" })";
                var val = $(this).val().toUpperCase();
                var reqdata = { lotNumber: val };
                $.getJSON(url, reqdata, function (data) {                
                    $.each(data, function (i, item) {
                        $("#NewOrderNumber").val(item["OrderNumber"]);
                    });
                    GetInfoByOrderNumber($("#NewOrderNumber").val());
                    isChanging1 = false;
                });
            });

            function GetInfoByOrderNumber(OrderNumber) {
                hideStatusMessage();
                var url = "@Url.Action("GetOrderNumber", "PackageRework", new { area = "WIP" })";
                var val = OrderNumber.toUpperCase();
                var reqdata = { orderNumber: val };
                $.getJSON(url, reqdata, function (data) {
                   
                    $("#NewMaterialCode").get(0).options.length = 0;
                    $("#RouteEnterpriseName").get(0).options.length = 0;
                    $("#RouteName").get(0).options.length = 0; //清空
                    $("#RouteStepName").get(0).options.length = 0; //清空
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item.Value).text(item.Text).appendTo($("#NewMaterialCode"));
                    });
                 
                    changeRouteEnterpriseName(val);
                });
            };

            $("#btnSave").click(function () {
                hideStatusMessage();
              
                $("#frmRework").submit();
            });

            $("body").keypress(function (args) {
                if (args.ctrlKey == true && args.keyCode == 13) {
                    $("#btnSave").click();
                }
            });

            var texts = $("#frmRework").find(":text:visible:enabled,:checkbox:visible:enabled,textarea:visible:enabled,select:visible:enabled");

            texts.focus(function () {
                    $(this).select();
                })
                .keypress(function (args) {
                if (args.ctrlKey == false && args.keyCode == 13) {
                    var index = texts.index(this)+1;
                    if (index < texts.length) {
                        texts.eq(index).focus();
                    }
                    else {
                        $("#btnSave").click();
                    }
                }
            });
            texts.eq(0).focus().select();

            $("#RouteEnterpriseName").change(function () {
                changeRouteName($(this).val());
            });

            $("#RouteName").change(function () {
                changeRouteStepName($(this).val());
            });

            $("#IsPackageNo").click(function () {
               
                //data-val-length
                //data-val-required
                //data-val-regex
                var valLength = $("#LotNumber").attr("data-val-length");
                var valRequired = $("#LotNumber").attr("data-val-required");
                var valRegex = $("#LotNumber").attr("data-val-regex");
              
                    $("label[for='LotNumber']").text("包装号");
                    $("#LotNumber").attr("data-val-length", valLength.replace("批次号", "包装号"));
                    $("#LotNumber").attr("data-val-required", valRequired.replace("批次号", "包装号"));
                    $("#LotNumber").attr("data-val-regex", valRegex.replace("批次号", "包装号"));
                
                var frm = $("#frmRework");
                frm.removeData("validator");
                $.validator.unobtrusive.parse(frm);
            });

            $("#LocationName").change(function () {
                changeLineCode($(this).val());
            });
        });

        function changeRouteEnterpriseName(orderNumber) {

            $("#RouteEnterpriseName").get(0).options.length = 0; //清空

            if (orderNumber == null || orderNumber == "") {
                return;
            }

            var url = "@Url.Action("GetRouteEnterpriseNames", "PackageRework", new { area = "WIP" })";
            var reqdata = { OrderNumber: orderNumber };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    //$("#RouteEnterpriseName").get(0).options.val(item["RouteEnterpriseName"]);
                    //$("#RouteName").val(item["RouteName"]);
                    //$("#RouteStepName").val(item["RouteStepName"]);
                    $("<option></option>").val(item["RouteEnterpriseName"]).text(item["RouteEnterpriseName"]).appendTo($("#RouteEnterpriseName"));
                    $("<option></option>").val(item["RouteName"]).text(item["RouteName"]).appendTo($("#RouteName"));
                    $("<option></option>").val(item["RouteStepName"]).text(item["RouteStepName"]).appendTo($("#RouteStepName"));
                });
                //changeRouteName($("#RouteEnterpriseName").val());
            });
        }

        function changeRouteName(routeEnterpriseName) {

            $("#RouteName").get(0).options.length = 0; //清空
            var url = "@Url.Action("GetRouteNames", "PackageRework", new { area = "WIP" })";
            var reqdata = { RouteEnterpriseName: routeEnterpriseName};

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item.Value).text(item.Text).appendTo($("#RouteName"));
                });
                changeRouteStepName($("#RouteName").val());
            });
        }

        function changeRouteStepName(routeName) {

            $("#RouteStepName").get(0).options.length = 0; //清空
            var url = "@Url.Action("GetRouteStepNames", "PackageRework", new { area = "WIP" })";
            var reqdata = { RouteName: routeName };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item.Value).text(item.Text).appendTo($("#RouteStepName"));
                });
            });
        }

        //隐藏状态消息
        function hideStatusMessage() {
            $("#statusMessage").addClass("hide");
        }

        function beginSave() {
            $("#btnSave").attr("disabled", "disabled");
            hideStatusMessage();
        }

        function completeSave(result) {
            $("#btnSave").removeAttr("disabled");
            showErrorInfo(result);
            $("#LotNumber:first").select();
        }
        
        function showErrorInfo(result) {
            $("#statusMessage").find("p").html(result.Message);
            $("#statusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#statusMessage").removeClass("alert-success");
                $("#statusMessage").addClass("alert-danger");
            }
            else {
                $("#statusMessage").removeClass("alert-danger");
                $("#statusMessage").addClass("alert-success");
            }
        }

        function changeLineCode(locationName) {

            $("#LineCode").get(0).options.length = 0;   //清空
            var url = "@Url.Action("GetLineCodeListByLocation", "PackageRework", new { area = "WIP" })";

            var reqdata = { locationName: locationName };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item.Value).text(item.Text).appendTo($("#LineCode"));
                });               
            });
        }
    </script>*@
}