@model ServiceCenter.Client.Mvc.Areas.FMM.Models.PrintLabelViewModel
@using ServiceCenter.Client.Mvc.Areas.FMM.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using FMMResources = ServiceCenter.Client.Mvc.Resources.FMM;
@using ServiceCenter.MES.Model.FMM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
}
<div id="_list">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td>@StringResource.ItemNo</td>
                <td>@Html.DisplayNameFor(m => m.Code)</td>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.DisplayNameFor(m => m.Type)</td>
                <td>@Html.DisplayNameFor(m => m.Content)</td>
                <td>@Html.DisplayNameFor(m => m.IsUsed)</td>
                <td>@Html.DisplayNameFor(m => m.Editor)</td>
                <td>@Html.DisplayNameFor(m => m.EditTime)</td>
                <td>@StringResource.Print</td>
                <td>@StringResource.Detail</td>
                <td>@StringResource.Modify</td>
                <td>@StringResource.Delete</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    PrintLabel obj = ViewBag.List[i];
                    <tr>
                        <td>@(cfg.PageSize * cfg.PageNo+i+1)</td>
                        <td>
                            @obj.Key
                        </td>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @obj.Type.GetDisplayName()
                        </td>
                        <td>
                            @obj.Content.Substring(0, obj.Content.Length > 50 ? 50 : obj.Content.Length)
                        </td>
                        <td>
                            @(obj.IsUsed ? StringResource.Yes : StringResource.No)
                        </td>
                        <td>@obj.Editor</td>
                        <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}",obj.EditTime)</td>
                        <td>
                            @Html.ActionLink(linkText: StringResource.Print
                                            , actionName: "PrintTest"
                                            , controllerName: "PrintLabel"
                                            , routeValues: new { @Key = obj.Key }
                                            , htmlAttributes: new { })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Detail, actionName: null
                                            , routeValues: null
                                            , ajaxOptions:new AjaxOptions() 
                                            { 
                                                HttpMethod = "Post", 
                                                UpdateTargetId = "detailInfo",
                                                OnSuccess = "showInfoModal",
                                                Url = Url.Action("Detail", new { @Key = obj.Key })
                                            })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Modify, actionName: null
                                            ,routeValues:null
                                            ,ajaxOptions:new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                UpdateTargetId = "modifyFormContent",
                                                OnSuccess = "showModifyModal",
                                                Url = Url.Action("Modify", new { @Key = obj.Key })
                                            })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Delete, actionName: null
                                            , routeValues: null
                                            , ajaxOptions:new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                Confirm = string.Format(FMMResources.StringResource.PrintLabel_ConfirmDelete, obj.Key),
                                                Url = Url.Action("Delete", new { @Key = obj.Key }),
                                                OnSuccess = "completeDelete"
                                            })
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("PagingQuery", "PrintLabel"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>


