@model ServiceCenter.Client.Mvc.Areas.FMM.Models.LocationViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Level, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.DropDownListFor(m=>Model.Level,@Model.GetLocationLevelList(), new { @class = "form-control",@id="drpLocationLevel" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ParentLocationName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.DropDownListFor(m => Model.ParentLocationName
                                , null
                                , new { @class = "form-control", @id = "drpParentLocationName" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ERPDeptCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.ERPDeptCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ERPDeptCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
</div>