@model ServiceCenter.Client.Mvc.Areas.RPT.Models.WIPOperateDailyQueryViewModel
@using ServiceCenter.Client.Mvc.Resources;
@using RPTResources = ServiceCenter.Client.Mvc.Resources.RPT;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@using System.Data;
@{
    DataTable dtList = ViewBag.ListData;
}
@if (dtList != null)
{
    <table class="table table-hover table-bordered table-condensed pre-scrollable">
        <thead>
            <tr class="active">
                @for (int i = 0; i < dtList.Columns.Count; i++)
                {
                    if (i == 0)
                    {
                        <td>@dtList.Columns[i].Caption</td>
                    }
                    else
                    {
                        <td nowrap>@dtList.Columns[i].Caption</td>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @for (int row = 0; row < dtList.Rows.Count; row++)
            {
                <tr>
                    @for (int col = 0; col < dtList.Columns.Count; col++)
                    {
                        if (row == 0)
                        {
                            <td nowrap>
                                @dtList.Rows[row][col]
                            </td>
                        }
                        else
                        {
                            if (col == 0)
                            {
                                <td>
                                    @dtList.Rows[row][col]
                                </td>
                                
                            }
                            else
                            {
                                if (dtList.Rows[row][col] == DBNull.Value || dtList.Rows[row][col] == null || dtList.Rows[row][col] == "")
                                {
                                    <td>
                                        0.00%
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @*@(Math.Round(Convert.ToDecimal(dtList.Rows[row][col]), 4) * 100)%*@
                                        @(dtList.Rows[row][col])
                                    </td>
                                }

                            }
                            //else
                            //{
                            //    <td>
                            //        @(Math.Round(Convert.ToDecimal(dtList.Rows[row][col]), 4) * 100)%
                            //    </td>
                            //}
                        }

                    }
                </tr>
            }
        </tbody>
    </table>
}
