@model ServiceCenter.Client.Mvc.Areas.QAM.Models.CheckSettingPointDetailViewModel
@using ServiceCenter.Common;

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.ParameterName, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.ParameterName</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ParameterItemNo, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.ParameterItemNo</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ParameterCount, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.ParameterCount</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DataType, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.DataType.GetDisplayName()</p>
    </div>
</div><div class="form-group">
    @Html.LabelFor(m => m.DeviceType, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.DeviceType.GetDisplayName()</p>
    </div>
</div><div class="form-group">
    @Html.LabelFor(m => m.Mandatory, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Mandatory</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IsDerived, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.IsDerived</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DerivedFormula, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.DerivedFormula</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Creator, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Creator</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CreateTime, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.CreateTime</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Editor, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Editor</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EditTime, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.EditTime</p>
    </div>
</div>