@model ServiceCenter.Client.Mvc.Areas.WIP.Models.LotCreateMainViewModel
@using ServiceCenter.MES.Model.WIP;
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Areas.WIP.Models;
@using WIPRsources = ServiceCenter.Client.Mvc.Resources.WIP;
@using ServiceCenter.Client.Mvc.Resources;

@{
    ViewBag.Title = WIPRsources.StringResource.LotCreate_ManagePageTitle;
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Detail", "LotCreate", null, FormMethod.Post, new { @class = "form-horizontal", role = "form",id="frmCreate" }))
{
<div class="panel panel-default">
    <div class="panel-heading">
        <input type="submit" value="@StringResource.Next" class="btn btn-primary" />
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.ValidationSummary(true)
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.LotType, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.LotType, @Model.GetLotTypeList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LotType)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.LineCode, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.LineCode, @Model.GetLineCodeList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LineCode)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.LineStoreName, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.LineStoreName, @Model.GetLineStoreNameList(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.LineStoreName)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.OrderNumber, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.OrderNumber, new List<SelectListItem>(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OrderNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.MaterialCode, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.MaterialCode,new List<SelectListItem>(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaterialCode)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.MaterialLot, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.MaterialLot, new List<SelectListItem>(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaterialLot)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Count, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Count, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Count)
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
    <script type="text/javascript" language="javascript">

        $(function () {

            $("#LineStoreName").change(function () {
                changeOrderNumber();
            });

            $("#OrderNumber").change(function () {
                changeMaterialCode();
            });

            $("#MaterialCode").change(function () {
                changeMaterialLot();
            });
            changeOrderNumber();
        });

        function changeOrderNumber() {

            $("#OrderNumber").get(0).options.length = 0; //清空
            var url = "@Url.Action("GetOrderNumbers", "LotCreate", new { area = "WIP" })";
            var lineStoreName = $("#LineStoreName").val();
            var timestamp = Math.round(new Date().getTime() / 1000);
            var reqdata = { LineStoreName: lineStoreName, key: timestamp };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item.Value).text(item.Text).appendTo($("#OrderNumber"));
                });
                changeMaterialCode();
            });
        }


        function changeMaterialCode() {

            $("#MaterialCode").get(0).options.length = 0; //清空
            var url = "@Url.Action("GetMaterialCodes", "LotCreate", new { area = "WIP" })";
            var orderNumber = $("#OrderNumber").val();
            var lineStoreName = $("#LineStoreName").val();
            var timestamp = Math.round(new Date().getTime() / 1000);
            var reqdata = { OrderNumber: orderNumber, LineStoreName: lineStoreName, key: timestamp };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item).text(item).appendTo($("#MaterialCode"));
                });
                changeMaterialLot();
            });
        }

        function changeMaterialLot() {

            $("#MaterialLot").get(0).options.length = 0; //清空
            var url = "@Url.Action("GetMaterialLots", "LotCreate", new { area = "WIP" })";
            var orderNumber = $("#OrderNumber").val();
            var lineStoreName = $("#LineStoreName").val();
            var materialCode = $("#MaterialCode").val();
            var timestamp = Math.round(new Date().getTime() / 1000);
            var reqdata = { OrderNumber: orderNumber, LineStoreName: lineStoreName, MaterialCode: materialCode, key: timestamp };

            $.getJSON(url, reqdata, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>").val(item.Value).text(item.Text).appendTo($("#MaterialLot"));
                });
            });
        }
    </script>

}