@model ServiceCenter.Client.Mvc.Areas.ZPVM.Models.SupplierToManufacturerViewModel
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Resources;

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.MaterialCode, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.MaterialCode</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrderNumber, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.OrderNumber</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SupplierCode, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.SupplierCode</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ManufacturerCode, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.ManufacturerCode</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Creator, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Creator</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CreateTime, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.CreateTime</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Editor, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Editor</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EditTime, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.EditTime</p>
    </div>
</div>
