@model ServiceCenter.Client.Mvc.Areas.RPT.Models.WIPDisplayQueryViewModel
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Areas.RPT.Models;
@using RPTResources = ServiceCenter.Client.Mvc.Resources.RPT;
@using ServiceCenter.Client.Mvc.Resources;

@{
    ViewBag.Title = RPTResources.StringResource.WIPDisplayQuery_ManagePageTitle;
}
<h2>@ViewBag.Title</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        &nbsp;
    </div>
    <div class="panel-body">    
    @using (Ajax.BeginForm("Query", "WIPDisplay", null
                , new AjaxOptions()
                 {
                     HttpMethod = "Post",
                     OnBegin = "beginQuery",
                     UpdateTargetId = "list",
                     OnComplete = "completeQuery"
                 }
                , new { @class = "form-horizontal", resource = "form" , id = "frmQuery" }))
    {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.LocationName, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.LocationName,@Model.GetLocations(),string.Empty, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m => m.OrderNumber, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(m => m.MaterialCode, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.MaterialCode, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.OnlineTime, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.OnlineTime, new { @class = "form-control" })
                </div>
                <div class="col-md-8">
                    <input type="button" value="@StringResource.Query" class="btn btn-primary" id="btnQuery"/>
                </div>
            </div>
    }
    </div>
</div>
<div id="list" style="overflow:auto">
    @Html.Partial("_ListPartial",Model)
</div>
@section Scripts {
@*查询*@
<script type="text/javascript" language="javascript">
    $(function () {

        $("#frmQuery").keypress(function (args) {
            if (args.keyCode == 13) {
                $("#frmQuery").submit();
            }
        });

        $("#btnQuery").click(function () {
            $("#frmQuery").submit();
        });

        var texts = $("#frmQuery").find(":text:visible:enabled,:checkbox:visible:enabled,textarea:visible:enabled,select:visible:enabled")
                                  .not("[readonly]");
        
        texts.keypress(function (args) {
            if (args.ctrlKey == false && args.keyCode == 13) {

                var index = texts.index(this) + 1;
                if (index < texts.length) {
                    texts.eq(index).focus().select();
                    return false;
                }
                else {
                    $("#btnQuery").click();
                    return false;
                }
            }
        });
        texts.eq(0).focus().select();
    });

    //刷新列表
    function beginQuery(obj, req) {
        $("#btnQuery").attr("disabled", "disabled");
    }

    function completeQuery() {
        $("#btnQuery").removeAttr("disabled");
    }

    function showDetail(routeOperationName, status, locationName, materialCode, orderNumber, onlineTime) {
        var url = '@Url.Action("Detail")?routeOperationName=' + routeOperationName;
        url += "&status=" + status;
        url += "&locationName=" + locationName;
        url += "&materialCode=" + materialCode;
        url += "&orderNumber=" + orderNumber;
        url += "&onlineTime=" + onlineTime;

        //var sheight = screen.height;
        //var swidth = screen.width;
        //var winoption = "dialogHeight:" + sheight + "px;dialogWidth:" + swidth + "px;status:yes;scroll:yes;resizable:yes;center:yes";
        //window.showModalDialog(url, window, winoption);
        window.open(url, "_blank", null, null);
    }
</script>
}