@model ServiceCenter.Client.Mvc.Areas.ZPVC.Models.EfficiencyConfigurationViewModel
<div class="form-group">
    @Html.LabelFor(m => m.Group, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Group, new { @class = "form-control", style = "text-transform:uppercase;" })
        @Html.ValidationMessageFor(m => m.Group)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Code, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", style = "text-transform:uppercase;" })
        @Html.ValidationMessageFor(m => m.Code)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EffiCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.EffiCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EffiCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EffiName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.EffiName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EffiName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Lower, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Lower, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Lower)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Upper, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Upper, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Upper)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Grade, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.DropDownListFor(m => m.Grade,@Model.GetGradeList(),string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Grade)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Color, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.DropDownListFor(m => m.Color, @Model.GetColorList(), string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Color)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.MaterialCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MaterialCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IsUsed, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.IsUsed, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsUsed)
    </div>
</div>
