@model ServiceCenter.Client.Mvc.Areas.RPT.Models.SemiProductionViewModels
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using RPTRsources = ServiceCenter.Client.Mvc.Resources.RPT;
@using ServiceCenter.Client.Mvc.Resources;

@{
    ViewBag.Title = "半成品不良数量日报表";
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">

        @using (Html.BeginForm("ExportToExcel", "SemiProductionData", FormMethod.Post, new { @class = "form-horizontal", resource = "form", id = "searchForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-1">
                    @Html.LabelFor(m => m.LocationName, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.LocationName, @Model.GetLocation(), new { @class = "form-control" })
                </div>
               
                <div class="col-md-1">
                    @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <input type="button" value="@StringResource.Query" class="btn btn-default" id="btnQuery" />
                </div>
            </div>          
        }
    </div>
    <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>


@section Scripts {   
    @*<script src="~/Scripts/Highcharts-4.0.3/modules/exporting.js"></script>
    <script src="~/Scripts/Highstock-2.1.5/highstock.js"></script>*@
    <script src="~/Scripts/Highstock-5.0.12/code/highstock.js"></script>
    <script src="~/Scripts/Highcharts-5.0.12/code/modules/exporting.js"></script>
    <script src="~/Scripts/jquery.multiselect.js"></script>
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    <script type="text/javascript" language="javascript">
        $(function () {
            $("#StartDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd"
            });
            $("#btnQuery").bind("click", function () {
                Query();
            });
            Query();
        });
        @*查询事件*@
        function Query() {
            var LocationName = $("#LocationName").val();
            var starttime = $('#StartDate').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetHighchartsResultForDefective", "SemiProductionData")",
                data: { LocationName: LocationName, StartDate: starttime},
                async: false,
                dataType: "json",
                success: function (result) {
                    if (result != null) {
                        var mAxis = eval("(" + result.mAxis + ")");
                        var nAxis = eval("(" + result.nAxis + ")");
                        highchartsInit2(mAxis, nAxis);
                    }
                }
            });
        }
        //根据获取的json数据画charts
        function highchartsInit2(xAxisData, yAxisData) {

            $('#container2').highcharts({
                title: {
                    text: '不良数量柱状图',
                    x: -20 //center
                },
                credits: { enabled: false },
                xAxis: {
                    categories: xAxisData,
                    labels: { rotation: 0 }, min: 0, max: 10
                },
                yAxis: {
                    tickInterval: 1,
                    lineWidth: 1,
                    title: {
                        text: '个'
                    },
                    plotLines: [
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }

                    ]

                },
                tooltip: {
                    formatter: function () {

                        return '<strong style="color:#0000ff;font-weight:bold" >type:' + this.x + '</strong><br/>Value:' + this.y;
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: yAxisData,
                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    },
                    series: {
                        connectNulls: true
                    }
                },
            });
        }
    </script>
    @*导出Excel提交表单*@
    <script type="text/javascript" language="javascript">
        function ExportToExcel01() {
            $("#searchForm").submit();
        }
    </script>
}