@model ServiceCenter.Client.Mvc.Areas.PPM.Models.WorkOrderViewModel
@using ServiceCenter.Client.Mvc.Areas.PPM.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using PPMResources = ServiceCenter.Client.Mvc.Resources.PPM;
@using ServiceCenter.MES.Model.PPM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
}
<div id="_list">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td>@StringResource.ItemNo</td>
                <td>@Html.DisplayNameFor(m => m.OrderNumber)</td>
                <td>@Html.DisplayNameFor(m => m.LocationName)</td>
                <td>@Html.DisplayNameFor(m => m.MaterialCode)</td>
                <td>@Html.DisplayNameFor(m => m.OrderQuantity)</td>
                <td>@Html.DisplayNameFor(m => m.StartTime)</td>
                <td>@Html.DisplayNameFor(m => m.FinishTime)</td>
                <td>@Html.DisplayNameFor(m => m.OrderType)</td>
                <td>@Html.DisplayNameFor(m => m.OrderState)</td>
                <td>@Html.DisplayNameFor(m => m.RevenueType)</td>
                <td>@Html.DisplayNameFor(m => m.CloseType)</td>
                <td>BOM</td>
                <td>@StringResource.Property</td>
                <td>@PPMResources.StringResource.WorkOrder_SettingProduct</td>
                <td>@PPMResources.StringResource.WorkOrder_SettingLine</td>
                <td>@PPMResources.StringResource.WorkOrder_SettingRoute</td>
                <td>@StringResource.Detail</td>
                <td>@StringResource.Modify</td>
                <td>@StringResource.Delete</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    WorkOrder obj = ViewBag.List[i];
                    <tr>
                        <td>@(cfg.PageSize * cfg.PageNo+i+1)</td>
                        <td>
                            @obj.Key
                        </td>
                        <td>
                            @obj.LocationName
                        </td>
                        <td>
                            @obj.MaterialCode
                        </td>
                        <td>
                            @obj.OrderQuantity
                        </td>
                        <td>
                            @obj.StartTime.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @obj.FinishTime.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @obj.OrderType
                        </td>
                        <td>
                            @obj.OrderState
                        </td>
                        <td>
                            @obj.RevenueType
                        </td>
                        <td>
                            @obj.CloseType.GetDisplayName()
                        </td>
                        <td>
                            @Html.ActionLink(linkText: "BOM"
                                            , actionName: "Index"
                                            , controllerName: "WorkOrderBOM"
                                            , routeValues: new { @OrderNumber = obj.Key }
                                            , htmlAttributes: new { @target = "_self" })
                        </td>
                        <td>
                            @Html.ActionLink(linkText: StringResource.Property
                                            , actionName: "Index"
                                            , controllerName: "WorkOrderAttribute"
                                            , routeValues: new { @OrderNumber = obj.Key }
                                            , htmlAttributes: new { @target = "_self" })
                        </td>
                        <td>
                            @Html.ActionLink(linkText: PPMResources.StringResource.WorkOrder_SettingProduct
                                            , actionName: "Index"
                                            , controllerName: "WorkOrderProduct"
                                            , routeValues: new { @OrderNumber = obj.Key }
                                            , htmlAttributes: new { @target = "_self" })
                        </td>
                        <td>
                            @Html.ActionLink(linkText: PPMResources.StringResource.WorkOrder_SettingLine
                                            , actionName: "Index"
                                            , controllerName: "WorkOrderProductionLine"
                                            , routeValues: new { @OrderNumber = obj.Key }
                                            , htmlAttributes: new { @target = "_self" })
                        </td>
                        <td>
                            @Html.ActionLink(linkText: PPMResources.StringResource.WorkOrder_SettingRoute
                                            , actionName: "Index"
                                            , controllerName: "WorkOrderRoute"
                                            , routeValues: new { @OrderNumber = obj.Key }
                                            , htmlAttributes: new { @target = "_self" })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Detail, actionName: null
                                            , routeValues: null
                                            , ajaxOptions:new AjaxOptions() 
                                            { 
                                                HttpMethod = "Post", 
                                                UpdateTargetId = "detailInfo",
                                                OnSuccess = "showInfoModal",
                                                Url = Url.Action("Detail", new { @Key = obj.Key })
                                            })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Modify, actionName: null
                                            ,routeValues:null
                                            ,ajaxOptions:new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                UpdateTargetId = "modifyFormContent",
                                                OnSuccess = "showModifyModal",
                                                Url = Url.Action("Modify", new { @Key = obj.Key })
                                            })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Delete, actionName: null
                                            , routeValues: null
                                            , ajaxOptions: new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                Confirm = string.Format(PPMResources.StringResource.WorkOrder_ConfirmDelete, obj.Key),
                                                Url = Url.Action("Delete", new { @Key = obj.Key }),
                                                OnSuccess = "completeDelete"
                                            })
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("PagingQuery", "WorkOrder"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>


