@model ServiceCenter.Client.Mvc.Areas.ZPVC.Models.PackageViewModel
@using ServiceCenter.Client.Mvc.Areas.ZPVC.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using ZPVCResources = ServiceCenter.Client.Mvc.Resources.ZPVC;
@using ServiceCenter.MES.Model.ZPVC;
@using ServiceCenter.MES.Model.WIP;
@using ServiceCenter.MES.Model.FMM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
}
<div id="_list">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td>@StringResource.ItemNo</td>
                <td>@ZPVCResources.StringResource.BoxViewModel_BoxNo</td>
                <td>项目号</td>
                <td>@Html.DisplayNameFor(m => m.PackageNo)</td>
                <td>@Html.DisplayNameFor(m => m.OrderNumber)</td>
                <td>@Html.DisplayNameFor(m => m.MaterialCode)</td>
                <td>产品编号</td>
                <td>@Html.DisplayNameFor(m => m.Code)</td>
                <td>@Html.DisplayNameFor(m => m.Qty)</td>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.DisplayNameFor(m => m.Grade)</td>
                <td>@Html.DisplayNameFor(m => m.Color)</td>
                <td>@Html.DisplayNameFor(m => m.PNType)</td>
                <td>@Html.DisplayNameFor(m => m.LineCode)</td>
                <td>装箱时间</td>
                <td>操作人</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    PackageDetail obj = ViewBag.List[i];
                    Package packageObj = Model.GetPackage(obj.Key.ObjectNumber);
                    PackageInfo packageInfoObj = Model.GetPackageInfo(obj.Key.ObjectNumber);
                    //ProductionLine plObj = Model.GetProductionLine(packageInfoObj.LineCode);
                    <tr>
                        <td>@(cfg.PageSize * cfg.PageNo + i + 1)</td>
                        <td>
                            @obj.Key.PackageNo
                        </td>
                        <td>
                            @obj.ItemNo
                        </td>
                        <td>
                            @obj.Key.ObjectNumber
                        </td>
                        <td>
                            @obj.OrderNumber
                        </td>
                        <td>
                            @obj.MaterialCode
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.ProductId : string.Empty)
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.ConfigCode : string.Empty)
                        </td>
                        <td>
                            @(packageObj != null ? packageObj.Quantity : 0)
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.EfficiencyName : string.Empty)
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.Grade : string.Empty)
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.Color : string.Empty)
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.PNType : string.Empty)
                        </td>
                        <td>
                            @(packageInfoObj != null ? packageInfoObj.LineCode : string.Empty)
                        </td>
                        <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}",obj.CreateTime)</td>
                        <td>@obj.Creator</td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("PagingQuery", "BoxQuery"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>
