@using ServiceCenter.Client.Mvc.Models;
@model ServiceCenter.Client.Mvc.Models.ModifyInfoViewModel
@{
    ViewBag.Title = "管理帐户";
}

<h2>@ViewBag.Title。</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        <p>你已使用以下身份登录: <strong>@User.Identity.Name</strong>。</p>
        @using (Html.BeginForm("ModifyInfo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>“修改信息”表单</h4>
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MobilePhone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OfficePhone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.OfficePhone, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="修改信息" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>