@model ServiceCenter.Client.Mvc.Areas.ZPVM.Models.WorkOrderGradeViewModel
@using ServiceCenter.Common;

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.OrderNumber, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.OrderNumber</p>
        @Html.HiddenFor(m => m.OrderNumber)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.MaterialCode</p>
        @Html.HiddenFor(m => m.MaterialCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Grade, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.Grade</p>
        @Html.HiddenFor(m => m.Grade)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ItemNo, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.ItemNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ItemNo)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PackageGroup, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.PackageGroup, new { @class = "form-control", @id = "txtAddDecayCode" })
        @Html.ValidationMessageFor(m => m.PackageGroup)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MixColor, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.MixColor, new { @class = "form-control", @id = "txtAddDecayCode" })
        @Html.ValidationMessageFor(m => m.MixColor)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MixPowerset, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.MixPowerset, new { @class = "form-control", @id = "txtAddDecayCode" })
        @Html.ValidationMessageFor(m => m.MixPowerset)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MixSubPowerset, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.MixSubPowerset, new { @class = "form-control", @id = "txtAddDecayCode" })
        @Html.ValidationMessageFor(m => m.MixSubPowerset)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IsUsed, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.IsUsed, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsUsed)
    </div>
</div>