@model ServiceCenter.Client.Mvc.Areas.LSM.Models.MaterialUnloadingDetailViewModel
@using ServiceCenter.Client.Mvc.Areas.LSM.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using LSMResources = ServiceCenter.Client.Mvc.Resources.LSM;
@using ServiceCenter.MES.Model.LSM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;

<table class="table table-hover table-bordered table-condensed" id="tblDetail">
    <thead>
        <tr class="active">
            <td style="width:60px">
                @Html.DisplayNameFor(m => m.ItemNo)
                @Html.ValidationMessageFor(m => m.ItemNo)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.MaterialLot)
                <p>@Html.ValidationMessageFor(m => m.MaterialLot)</p>
            </td>
            <td>
                @Html.DisplayNameFor(m => m.UnloadingQty)
                <p>@Html.ValidationMessageFor(m => m.UnloadingQty)</p>
            </td>
            <td>
                @Html.DisplayNameFor(m => m.MaterialCode)
                <p>@Html.ValidationMessageFor(m => m.MaterialCode)</p>
            </td>
            <td>
                @Html.DisplayNameFor(m => m.LineStoreName)
                <p>@Html.ValidationMessageFor(m => m.LineStoreName)</p>
            </td>
            <td>
                @Html.DisplayNameFor(m => m.LoadingNo)
                @Html.ValidationMessageFor(m => m.LoadingNo)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.LoadingItemNo)
                @Html.ValidationMessageFor(m => m.LoadingItemNo)
            </td>
            <td>@StringResource.Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>1</p>
                @Html.HiddenFor(m => m.ItemNo, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.MaterialLot, new { @class = "form-control", @style = "text-transform:uppercase" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.UnloadingQty, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.MaterialCode, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.LineStoreName, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.LoadingNo, new { @class = "form-control", @readonly = "readonly"  })
            </td>
            <td>
                @Html.TextBoxFor(m => m.LoadingItemNo, new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                <input type="button" class="btn btn-default" value="@StringResource.Delete" id="btnDeleteDetailRow" onclick="removeDetailRow($(this))" />
            </td>
        </tr>
    </tbody>
</table>