@model ServiceCenter.Client.Mvc.Areas.ERP.Models.WOReportViewModel
@using ServiceCenter.MES.Model.ERP;
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Areas.ERP.Models;
@using ERP = ServiceCenter.Client.Mvc.Resources.ERP;
@using ServiceCenter.Client.Mvc.Resources;


@{
    PagingConfig cfg = ViewBag.PagingConfig;
}
<div id="_list">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td nowrap align="center">@StringResource.ItemNo</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.BillCode)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.BillType)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.BillDate)</td>                
                @*<td nowrap align="center">@Html.DisplayNameFor(m => m.ERPWRKey)</td>*@ 
                <td nowrap align="center">@Html.DisplayNameFor(m => m.WRCode)</td>               
                <td nowrap align="center">@Html.DisplayNameFor(m => m.BillState)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.BillCheckState)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.Creator)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.CreateTime)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.Editor)</td>
                <td nowrap align="center">@Html.DisplayNameFor(m => m.EditTime)</td>
                <td nowrap align="center">@StringResource.Modify</td>
                <td nowrap align="center">@StringResource.Delete</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    WOReport obj = ViewBag.List[i];
                    <tr>
                        <td align="center">@(cfg.PageSize * cfg.PageNo + i + 1)</td>
                        <td align="center">
                            @Html.ActionLink(linkText: obj.Key
                                            , actionName: "Index"
                                            , controllerName: "ERPWOReportDetail"
                                            , routeValues: new { @BillCode = obj.Key }
                                            , htmlAttributes: new { @target = "_self" })
                        </td>
                        <td align="center">
                            @if (obj.BillType != EnumStockInType.Finish)
                            {
                                @obj.BillType.GetDisplayName()
                            }
                            @*@obj.BillType.GetDisplayName()*@
                        </td>
                        <td align="center">
                            @string.Format("{0:yyyy-MM-dd}", obj.BillDate)
                        </td>
                        @*<td>
                            @obj.ERPWRKey
                        </td>*@                        
                        <td align="center">
                            @obj.WRCode
                        </td>                        
                        <td align="center">
                            @*@if (obj.BillState != EnumBillState.Create)
                            {
                                @obj.BillState.GetDisplayName()
                            }*@   
                            @obj.BillState.GetDisplayName()                         
                        </td>
                        <td align="center">
                            @obj.BillCheckState.GetDisplayName()
                        </td>
                        <td align="center">
                            @obj.Creator
                        </td>
                        <td align="center">
                            @obj.CreateTime
                        </td>
                        <td align="center">
                            @obj.Editor
                        </td>
                        <td align="center">
                            @obj.EditTime
                        </td>
                        <td align="center">
                            @if (obj.BillState == EnumBillState.Create)
                            {
                                @Ajax.ActionLink(StringResource.Modify, actionName: null
                                            , routeValues: null
                                            , ajaxOptions: new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                UpdateTargetId = "modifyFormContent",
                                                OnSuccess = "showModifyModal",
                                                Url = Url.Action("Modify", new { @Key = obj.Key })
                                            })
                            }
                        </td>

                        <td align="center">
                            @if (obj.BillState == EnumBillState.Create)
                            {
                                @Ajax.ActionLink(StringResource.Delete, actionName: null
                                            , routeValues: null
                                            , ajaxOptions: new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                Confirm = string.Format(ERP.StringResource.ERPWOReport_ConfirmDelete, obj.Key),
                                                Url = Url.Action("Delete", new { @Key = obj.Key, @ScrapType = obj.ScrapType }),
                                                OnSuccess = "completeDelete"
                                            })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("PagingQuery", "ERPWOReport"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>