@model ServiceCenter.Client.Mvc.Areas.FMM.Models.MaterialBOMViewModel
@using ServiceCenter.Client.Mvc.Areas.FMM.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using FMM = ServiceCenter.Client.Mvc.Resources.FMM;
@using ServiceCenter.MES.Model.FMM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
}
<div id="_list">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td>@Html.DisplayNameFor(m => m.ItemNo)</td>
                <td>@Html.DisplayNameFor(m => m.RawMaterialCode)</td>
                <td>@Html.DisplayNameFor(m => m.Qty)</td>
                <td>@Html.DisplayNameFor(m => m.MaterialUnit)</td>
                <td>@Html.DisplayNameFor(m => m.WorkCenter)</td>
                <td>@Html.DisplayNameFor(m => m.StoreLocation)</td>
                <td>@Html.DisplayNameFor(m => m.Description)</td>
                <td>@StringResource.Detail</td>
                <td>@StringResource.Modify</td>
                <td>@StringResource.Delete</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    MaterialBOM obj = ViewBag.List[i];
                    <tr>
                        <td>@obj.Key.ItemNo</td>
                        <td>
                            @obj.RawMaterialCode
                        </td>
                        <td>@obj.Qty</td>
                        <td>@obj.MaterialUnit</td>
                        <td>@obj.WorkCenter</td>
                        <td>@obj.StoreLocation</td>
                        <td>@obj.Description</td>
                        <td>
                            @Ajax.ActionLink(StringResource.Detail, actionName: null
                                            , routeValues: null
                                            , ajaxOptions:new AjaxOptions() 
                                            { 
                                                HttpMethod = "Post", 
                                                UpdateTargetId = "detailInfo",
                                                OnSuccess = "showInfoModal",
                                                Url = Url.Action("Detail", new { @MaterialCode = obj.Key.MaterialCode, @ItemNo = obj.Key.ItemNo })
                                            })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Modify, actionName: null
                                            ,routeValues:null
                                            ,ajaxOptions:new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                UpdateTargetId = "modifyFormContent",
                                                OnSuccess = "showModifyModal",
                                                Url = Url.Action("Modify", new { @MaterialCode = obj.Key.MaterialCode, @ItemNo = obj.Key.ItemNo })
                                            })
                        </td>
                        <td>
                            @Ajax.ActionLink(StringResource.Delete, actionName: null
                                            , routeValues: null
                                            , ajaxOptions:new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                Confirm = string.Format(FMM.StringResource.MaterialBOM_ConfirmDelete, obj.Key),
                                                Url = Url.Action("Delete", new { @MaterialCode = obj.Key.MaterialCode, @ItemNo = obj.Key.ItemNo }),
                                                OnSuccess = "completeDelete"
                                            })
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("PagingQuery", "MaterialBOM"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>


