@model ServiceCenter.Client.Mvc.Areas.WIP.Models.LotUndoViewModel
@using ServiceCenter.MES.Model.WIP;
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Areas.WIP.Models;
@using WIPRsources = ServiceCenter.Client.Mvc.Resources.WIP;
@using ServiceCenter.Client.Mvc.Resources;

@{
    ViewBag.Title = WIPRsources.StringResource.LotUndo_ManagePageTitle;
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Ajax.ActionLink(StringResource.Query, "Query", null,
                    new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        OnBegin = "beginQuery",
                        OnSuccess = "completeQuery"
                    }, new { @class = "btn btn-primary", @id = "btnQuery" })
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group has-success">
            <div class="col-md-12">
                @Html.LabelFor(m => m.LotNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LotNumber, new { @class = "form-control", @style = "height:50px;font-size:20px;text-transform:uppercase;ime-mode:disabled" })
                @Html.ValidationMessageFor(m => m.LotNumber)
            </div>
        </div>
        <div class="alert fade in hide" resource="alert" id="statusMessage" style="margin:0px">
            <button type="button" class="close" onclick="hideStatusMessage()">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
            <p></p>
        </div>
    </div>
    <div id="list">
    </div>
</div>

@section Scripts {
    <script type="text/javascript" language="javascript">
        $(function () {
            $("#LotNumber:first").focus();

            $("#LotNumber:first")
                .focus(function () {
                    $(this).select();
                })
                .keypress(function (args) {
                if (args.keyCode == 13) {
                    $("#btnQuery").click();
                }
            });

            $("#btnQuery").click(function () {
                hideStatusMessage();
                if ($("#LotNumber").val() == "") {
                    return false;
                }
            });
        });

        //隐藏状态消息
        function hideStatusMessage() {
            $("#statusMessage").addClass("hide");
        }

        function showErrorInfo(result) {
            $("#statusMessage").find("p").html(result.Message);
            $("#statusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#statusMessage").removeClass("alert-success");
                $("#statusMessage").addClass("alert-danger");
            }
            else {
                $("#statusMessage").removeClass("alert-danger");
                $("#statusMessage").addClass("alert-success");
            }
        }
    </script>
    @* 查询批次操作明细 *@
    <script type="text/javascript" language="javascript">
        function beginQuery(obj, req) {

            var val=$("#LotNumber").val().toUpperCase();
            if (val == "") {
                return false;
            }

            $("input,select").attr("readonly", "readonly");
            $(".btn").attr("disabled", "disabled");
            hideStatusMessage();
            $("#list").html("");
            req.data += "&LotNumber=" + val;
        }

        function completeQuery(result, status, xhr) {
            $("input,select").removeAttr("readonly");
            $(".btn").removeAttr("disabled");
            $("#list").html("");
            if (xhr.status == 200) {
                if (typeof (result) == "object") {
                    showErrorInfo(result);
                }
                else {
                    $("#list").html(result);
                }
            }
            else {
                var rst = { Code: xhr.statusCode, Message: status + ":" + response };
                showErrorInfo(rst);
            }
            $("#LotNumber:first").select();
        }
    </script>
    @* 执行批次撤销操作 *@
    <script type="text/javascript" language="javascript">
        function beginUndo(obj, req) {
            $("input,select").attr("readonly", "readonly");
            $(".btn").attr("disabled", "disabled");
            hideStatusMessage();
            var desc = $("#txtDescription").val();
            req.data = req.data+"&Description=" + desc;
        }

        function completeUndo(result, status, xhr) {
            $("input,select").removeAttr("readonly");
            $(".btn").removeAttr("disabled");
            $("#list").html("");
            if (xhr.status == 200) {
                if (typeof (result) == "object") {
                    showErrorInfo(result);
                }
                else {
                    $("#list").html(result);
                }
            }
            else {
                var rst = { Code: xhr.statusCode, Message: status + ":" + response };
                showErrorInfo(rst);
            }
            $("#LotNumber:first").select();
        }
    </script>
}