@model ServiceCenter.Client.Mvc.Areas.RPT.Models.RPTDailyDataViewModel
@using ServiceCenter.Client.Mvc.Resources;
@using RPTResources = ServiceCenter.Client.Mvc.Resources.RPT;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@using System.Data;
@{
    DataTable dtList = ViewBag.ListData;

    string link = string.Empty;             //链接报表字段
}
@if (dtList != null)
{
    <div id="_list" style="overflow:auto">
        <style type="text/css">
            NoNewline {
                word-break: keep-all;
            }
        </style>

        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
            <thead>
                <tr class=" active">
                    @for (int i = 0; i < dtList.Columns.Count; i++)
                    {
                        <td nowrap align="center">@dtList.Columns[i].Caption</td>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int row = 0; row < dtList.Rows.Count; row++)
                {
                    <tr id="@row" style="background-color: lightblue">
                        @for (int col = 0; col < dtList.Columns.Count; col++)
                        {
                            if (@dtList.Columns[col].ColumnName == "批次")
                            {
                                <td nowrap>
                                    @Html.ActionLink(Convert.ToString(dtList.Rows[row][col])
                                                            , "Detail"
                                                            , "LotQuery"
                                                            , new { LotNumber = Convert.ToString(dtList.Rows[row][col]), area = "WIP" }
                                                            , new { @target="_blank" })
                                </td>
                            
                                @*link = "WIP/lotquery/Detail?" +                  //报表代码
                                        "LotNumber=" + @dtList.Rows[row][col];   //批次代码
                                                                                
                                <td align="right">
                                    <a href="@link" target="_top" >@dtList.Rows[row][col]</a>
                                </td>*@
                            }
                            else 
                            { 
                                <td>
                                @dtList.Rows[row][col]
                            </td>
                            }                            
                        }
                    </tr>
                }
            </tbody>
        </table>

        <div style="margin-top:-18px">
            @if (ViewBag.PagingConfig != null)
            {
                using (Ajax.BeginForm("QueryModuleList", "RPTDailyData"
                                , null
                                , new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    UpdateTargetId = "_list"
                                }
                                , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ReportCode)
                    @Html.HiddenFor(m => m.StartDate)
                    @Html.HiddenFor(m => m.EndDate)
                    @Html.HiddenFor(m => m.LocationName)
                    @Html.HiddenFor(m => m.LineCode)
                    @Html.HiddenFor(m => m.OrderNumber)
                    @Html.HiddenFor(m => m.ProductID)
                    @Html.HiddenFor(m => m.SchedulingCode)
                    @Html.HiddenFor(m => m.PageSize)
                    <div>@Html.Partial("_PaginationPartial")</div>
                }
            }

        </div>
    </div>
}
else
{
    <p>@ViewBag.Message</p>
}