@model ServiceCenter.Client.Mvc.Areas.RPT.Models.LotMaterialListViewModel
@using ServiceCenter.Client.Mvc.Resources;
@using RPTResources = ServiceCenter.Client.Mvc.Resources.RPT;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@using System.Data;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
    MethodReturnResult<DataSet> ds = new MethodReturnResult<DataSet>();
    ds = ViewBag.HistoryList;
}

<div id="_list" style="overflow:auto">
    <table class="table table-hover table-bordered table-condensed table-responsive table-striped">
        <thead>
            <tr class="active">
                <td nowrap>@StringResource.ItemNo</td>
                <td nowrap>车间</td>
                <td nowrap>线别</td>
                <td nowrap>生产订单号</td>
                <td nowrap>成品编码</td>
                <td nowrap>物料编码</td>
                <td nowrap>物料名称</td>
                <td nowrap>转换率（电池片）</td>
                <td nowrap>单位</td>
                <td nowrap>数量</td>
            </tr>
        </thead>
        <tbody>
            @if (ds != null && ds.Data != null && ds.Data.Tables.Count > 0 && ds.Data.Tables[0].Rows.Count > 0)
            {
                for (int i = 0; i < ds.Data.Tables[0].Rows.Count; i++)
                {
                    System.Data.DataRow obj = ds.Data.Tables[0].Rows[i];
                    <tr>
                        <td nowrap>@(i + 1) </td>
                        <td nowrap>@obj["STORE"] </td>
                        <td nowrap>@obj["LINE_CODE"] </td>
                        <td nowrap>@obj["ORDER_NUMBER"]</td>
                        <td nowrap>@obj["PRODUCT_CODE"]</td>
                        <td nowrap>@obj["MATERIAL_CODE"]</td>
                        <td nowrap>@obj["MATERIAL_NAME"]</td>
                        <td nowrap>@obj["EFFI"]</td>
                        <td nowrap>@obj["MATERIAL_UNIT"]</td>
                        <td nowrap>@obj["QTY"]</td>


                    </tr>

                }

            }
        </tbody>

    </table>
</div>





