@model ServiceCenter.Client.Mvc.Areas.FMM.Models.MaterialBOMViewModel
@using ServiceCenter.Common;

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.MaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.MaterialCode</p>
        @Html.HiddenFor(m => m.MaterialCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ItemNo, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.ItemNo</p>
        @Html.HiddenFor(m => m.ItemNo)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.RawMaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.RawMaterialCode, new { @class = "form-control", @id = "txtModifyRawMaterialCode" })
        @Html.ValidationMessageFor(m => m.RawMaterialCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Qty, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Qty, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Qty)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaterialUnit, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.MaterialUnit, new { @class = "form-control", @id = "txtModifyMaterialUnit", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.MaterialUnit)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.WorkCenter, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.WorkCenter, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.WorkCenter)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StoreLocation, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.StoreLocation, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StoreLocation)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
</div>