@model ServiceCenter.Client.Mvc.Areas.LSM.Models.MaterialReceiptDetailViewModel
@using ServiceCenter.Client.Mvc.Areas.LSM.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using LSMResources = ServiceCenter.Client.Mvc.Resources.LSM;
@using ServiceCenter.MES.Model.LSM;
@using ServiceCenter.MES.Model.FMM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
}
<div id="_list">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td nowrap>@Html.DisplayNameFor(m => m.ReceiptNo)</td>
                <td nowrap>工单号</td>
                <td nowrap>领料日期</td>
                <td nowrap>@Html.DisplayNameFor(m => m.ItemNo)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.LineStoreName)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.MaterialCode)</td>
                <td nowrap>物料名称</td>
                <td nowrap>@Html.DisplayNameFor(m => m.MaterialLot)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.Qty)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.SupplierMaterialLot)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.SupplierCode)</td>
                <td nowrap>供应商名称</td>
                <td nowrap>效率档</td>
                <td nowrap>@Html.DisplayNameFor(m => m.DetailDescription)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.Editor)</td>
                <td nowrap>@Html.DisplayNameFor(m => m.EditTime)</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    MaterialReceiptDetail obj = ViewBag.List[i];
                    MaterialReceipt mrObj = @Model.GetMaterialReceipt(obj.Key.ReceiptNo);
                    Material m = @Model.GetMaterial(obj.MaterialCode);
                    Supplier s = @Model.GetSupplier(obj.SupplierCode);
                    
                    <tr>
                        <td nowrap>@obj.Key.ReceiptNo</td>
                        <td nowrap>

                            @(mrObj == null ? string.Empty : mrObj.OrderNumber)
                        </td>
                        <td nowrap>
                            @(mrObj == null ? string.Empty : string.Format("{0:yyyy-MM-dd}", mrObj.ReceiptDate))
                        </td>
                        <td nowrap>
                            @obj.Key.ItemNo
                        </td>
                        <td nowrap>
                            @obj.LineStoreName
                        </td>
                        <td nowrap>
                            @obj.MaterialCode
                        </td>
                        <td nowrap>
                            @(m == null ? string.Empty : m.Name)
                        </td>
                        <td nowrap>
                            @obj.MaterialLot
                        </td>
                        <td nowrap>
                            @obj.Qty
                        </td>
                        <td nowrap>
                            @obj.SupplierMaterialLot
                        </td>
                        <td nowrap>
                            @obj.SupplierCode
                        </td>
                        <td nowrap>
                            @(s == null ? string.Empty : s.Name)
                        </td>
                        <td nowrap>
                            @obj.Attr1
                        </td>
                        <td nowrap>
                            @obj.Description
                        </td>
                        <td nowrap>
                            @obj.Editor
                        </td>
                        <td nowrap>
                            @string.Format("{0:yyyy-MM-dd HH:mm:ss}", obj.EditTime)
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("DetailPagingQuery", "MaterialReceipt"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>


