@using ServiceCenter.MES.Model.BaseData;
@using ServiceCenter.Model;
@using ServiceCenter.Client.Mvc.Resources;
@{
    IList<BaseAttribute> lst = ViewBag.BaseAttributeList;
}
@if(lst!=null)
{
     <div class="form-group">
         @Html.Label(StringResource.ItemNo, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBox("ItemNo", string.Empty, null,
                         new { @class = "form-control", 
                               @data_val = "true",
                               @data_val_number="字段 序号 必须是一个数字。" ,
                               @data_val_range="序号 需要是 1 - 65536 整数。" ,
                               @data_val_range_max="65536" ,
                               @data_val_range_min="1" ,
                               @data_val_regex="序号 需要是整数。" ,
                               @data_val_regex_pattern = "[0-9]+",
                               @data_val_required="序号 字段是必需的。"  })
            @Html.ValidationMessage("ItemNo")
        </div>
    </div>
    foreach(BaseAttribute attr in lst)
    { 
        <div class="form-group">
            @Html.Label(attr.Key.AttributeName, new { @class = "col-md-3 control-label", @title = attr.Description })
            <div class="col-md-9">
                @if(@attr.DataType==EnumDataType.Boolean)
                {
                     @Html.CheckBox(attr.Key.AttributeName, new { @class = "form-control" })
                }
                else
                {
                     @Html.TextBox(attr.Key.AttributeName,string.Empty, "", new { @class = "form-control" })
                }
            </div>
        </div>
    }
}