@using ServiceCenter.MES.Model.BaseData;
@using ServiceCenter.Model;
@using ServiceCenter.Client.Mvc.Resources;
@{
    IList<BaseAttribute> lst = ViewBag.BaseAttributeList;
    IList<BaseAttributeValue> lstVal = ViewBag.List;
    int itemOrder=ViewBag.ItemOrder;
}
@if (lst != null)
{
    BaseAttributeValue firstVal = null;
    <div class="form-group">
        @Html.Label(StringResource.ItemNo, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            <p class="form-control-static">@itemOrder</p>
        </div>
    </div>
    foreach (BaseAttribute attr in lst)
    {
        var lnqVal = from item in lstVal
                     where item.Key.CategoryName == attr.Key.CategoryName
                             && item.Key.AttributeName == attr.Key.AttributeName
                             && item.Key.ItemOrder == itemOrder
                     select item;
        BaseAttributeValue val = lnqVal.SingleOrDefault();
        if(firstVal==null)
        {
            firstVal = val;
        }
        <div class="form-group">
            @Html.Label(attr.Key.AttributeName, new { @class = "col-md-4 control-label", @title=attr.Description })
            <div class="col-md-8">
                <p class="form-control-static">@(val!=null?val.Value:string.Empty)</p>
            </div>
        </div>
    }
    
    if(firstVal!=null)
    {
        <div class="form-group">
            @Html.Label(StringResource.Editor, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <p class="form-control-static">@firstVal.Editor</p>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(StringResource.EditTime, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <p class="form-control-static">@firstVal.EditTime</p>
            </div>
        </div>
    }
    
}