@model ServiceCenter.Client.Mvc.Areas.FMM.Models.RouteEnterpriseDetailViewModel
@using ServiceCenter.Common;

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.RouteEnterpriseName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.RouteEnterpriseName</p>
        @Html.HiddenFor(m => m.RouteEnterpriseName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.RouteName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.RouteName</p>
        @Html.HiddenFor(m => m.RouteName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ItemNo, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.ItemNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ItemNo)
    </div>
</div>
