@model ServiceCenter.Client.Mvc.Areas.PPM.Models.WorkOrderBOMViewModel
@using ServiceCenter.Common;
@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.OrderNumber, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.OrderNumber</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ItemNo, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.ItemNo</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.MaterialCode</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaterialUnit, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.MaterialUnit</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.WorkCenter, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.WorkCenter</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StoreLocation, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.StoreLocation</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.Description</p>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Editor, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Editor</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EditTime, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.EditTime</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Creator, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.Creator</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CreateTime, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        <p class="form-control-static">@Model.CreateTime</p>
    </div>
</div>