@model ServiceCenter.Client.Mvc.Areas.PPM.Models.WorkOrderBOMViewModel
@using ServiceCenter.Client.Mvc.Areas.PPM.Models;
@using ServiceCenter.Client.Mvc.Resources;
@using PPM = ServiceCenter.Client.Mvc.Resources.PPM;
@using ServiceCenter.MES.Model.PPM;
@using ServiceCenter.Common;
@using ServiceCenter.Model;
@{
    PagingConfig cfg = ViewBag.PagingConfig;
    WorkOrderBOMViewModel models = new WorkOrderBOMViewModel{};
}
<div id="_list">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr class="active">
                <td align="center">行号</td>
                <td align="center">@Html.DisplayNameFor(m => m.ItemNo)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MaterialCode)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MaterialName)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MaterialSpec)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MaterialModel)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MaterialMemo)</td>
                <td align="center">@Html.DisplayNameFor(m => m.Qty)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MaterialUnit)</td>
                <td align="center">@Html.DisplayNameFor(m => m.MinUnit)</td>
                <td align="center">@Html.DisplayNameFor(m => m.ReplaceMaterial)</td>
                <td align="center">@Html.DisplayNameFor(m => m.Description)</td>
                <td align="center">@StringResource.Detail</td>
                <td align="center">@StringResource.Modify</td>
                <td align="center">@StringResource.Delete</td>
            </tr>
        </thead>
        @if (ViewBag.List != null)
        {
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    WorkOrderBOM obj = ViewBag.List[i];
                    <tr>
                        <td>@(cfg.PageSize * cfg.PageNo + i + 1)</td>
                        <td>@obj.Key.ItemNo</td>
                        <td>
                            @obj.MaterialCode
                        </td>
                        <td>
                            @models.GetMaterialName(@obj.MaterialCode)
                        </td>
                        <td>
                            @models.GetMaterialSpec(@obj.MaterialCode)
                        </td>
                        <td>
                            @models.GetMaterialModel(@obj.MaterialCode)
                        </td>
                        <td>
                            @models.GetMaterialDescription(@obj.MaterialCode)
                        </td>
                        <td align="right">@obj.Qty</td>
                        <td align="center">@obj.MaterialUnit</td>
                        <td align="right">@obj.MinUnit</td>
                        <td>@obj.ReplaceMaterial</td>
                        <td>@obj.Description</td>
                        <td align="center">
                            @Ajax.ActionLink(StringResource.Detail, actionName: null
                                            , routeValues: null
                                            , ajaxOptions: new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                UpdateTargetId = "detailInfo",
                                                OnSuccess = "showInfoModal",
                                                Url = Url.Action("Detail", new { @OrderNumber = obj.Key.OrderNumber, @ItemNo = obj.Key.ItemNo })
                                            })
                        </td>

                        <td align="center">
                            @Ajax.ActionLink(StringResource.Modify, actionName: null
                                            , routeValues: null
                                            , ajaxOptions: new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                UpdateTargetId = "modifyFormContent",
                                                OnSuccess = "showModifyModal",
                                                Url = Url.Action("Modify", new { @OrderNumber = obj.Key.OrderNumber, @ItemNo = obj.Key.ItemNo })
                                            })
                        </td>

                        <td align="center">
                            @Ajax.ActionLink(StringResource.Delete, actionName: null
                                            , routeValues: null
                                            , ajaxOptions: new AjaxOptions()
                                            {
                                                HttpMethod = "Post",
                                                Confirm = string.Format(PPM.StringResource.WorkOrderBOM_ConfirmDelete, obj.Key),
                                                Url = Url.Action("Delete", new { @OrderNumber = obj.Key.OrderNumber, @ItemNo = obj.Key.ItemNo }),
                                                OnSuccess = "completeDelete"
                                            })
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <div style="margin-top:-18px">
        @if (cfg != null)
        {
            using (Ajax.BeginForm("PagingQuery", "WorkOrderBOM"
                            , new
                            {
                                @Where = cfg.Where,
                                @OrderBy = cfg.OrderBy,
                                @CurrentPageNo = cfg.PageNo,
                                @CurrentPageSize = cfg.PageSize
                            }
                            , new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                UpdateTargetId = "_list"
                            }
                            , new { @class = "form-horizontal", resource = "form", id = "frmPagingQuery" }))
            {
                @Html.AntiForgeryToken()
                <div>@Html.Partial("_PaginationPartial")</div>
            }
        }
    </div>
</div>


