@model ServiceCenter.Client.Mvc.Areas.ZPVM.Models.MaterialReplaceViewModel
<div class="form-group">
    @Html.LabelFor(m => m.ProductCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control", style = "text-transform:uppercase;ime-mode:inactive" })
        @Html.ValidationMessageFor(m => m.ProductCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrderNumber, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OrderNumber)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OldMaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.OldMaterialCode, new { @class = "form-control", style = "text-transform:uppercase;ime-mode:inactive" })
        @Html.ValidationMessageFor(m => m.OldMaterialCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OldMaterialSupplier, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.OldMaterialSupplier, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldMaterialSupplier)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NewMaterialCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.NewMaterialCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewMaterialCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NewMaterialSupplier, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.NewMaterialSupplier, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewMaterialSupplier)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
</div>

