@model ServiceCenter.Client.Mvc.Areas.RBAC.Models.RoleQueryViewModel
@using RBAC = ServiceCenter.MES.Model.RBAC;
@using ServiceCenter.Model;
@using ServiceCenter.Client.Mvc.Areas.RBAC.Models;
@using ServiceCenter.Client.Mvc.Resources.RBAC;

@{
    ViewBag.Title = StringResource.Role_RoleManagePageTitle;
    PagingConfig cfg = ViewBag.PagingConfig;
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript:showAddRoleModal()" class="btn btn-primary">@StringResource.Role_Add</a>
    </div>
    <div class="panel-body">
    @using (Ajax.BeginForm("Query", "Role", null
            , new AjaxOptions()
            {
                HttpMethod = "Post",
                UpdateTargetId = "roleList"
            }
            , new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(m => m.RoleName, new { @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoleName)
            </div>
            <div class="col-md-9">
                <input type="submit" value="@StringResource.Role_Query" class="btn btn-default" />
            </div>
        </div>
    }
    </div>
    <div class="alert fade in hide" role="alert" id="statusMessage" style="margin:0px">
        <button type="button" class="close" onclick="hideStatusMessage()">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <p></p>
    </div>
    <div id="roleList">
        @Html.Partial("_RoleListPartial")
    </div>
</div>

@*新增角色*@
<div id="addRole" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addRoleHeader" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addRoleHeader">@StringResource.Role_AddRoleTitle</h4>
            </div>
            <div class="modal-body" id="addRoleContent" style="margin:0px;padding:5px">
                @using (Ajax.BeginForm("SaveRole", "Role", null
                        , new AjaxOptions()
                        {
                            HttpMethod = "Post",
                            OnSuccess = "completeSaveRole",
                            OnBegin = "beginSaveRole"
                        }
                        , new { @class = "form-horizontal", role = "form",id="frmAddRole"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <input type="submit" class="btn btn-primary" value="@StringResource.Role_Save" id="btnSaveRole" />
                            <input type="reset" class="btn btn-default" value="@StringResource.Role_Reset" id="btnResetAddRole" />
                        </div>
                        <div class="panel-body">
                            <div class="alert fade in hide" role="alert" id="addStatusMessage">
                                <button type="button" class="close" onclick="hideAddRoleAlert()">
                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                </button>
                                <p></p>
                            </div>
                            <div>
                                @Html.Partial("_AddRolePartial", new RoleViewModel())
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*显示明细*@
<div id="roleInfo"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="roleInfoHeader"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="roleInfoHeader">@StringResource.Role_RoleDetailTitle</h4>
            </div>
            <div class="modal-body" id="roleInfoContent" style="margin:0px;padding:5px">
                <form class="form-horizontal" role="form">
                    <div class="panel panel-default">
                        <div class="panel-body" id="roleDetailInfo">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*修改角色*@
<div id="modifyRole"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modifyRoleHeader"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modifyRoleHeader">@StringResource.Role_ModifyRoleTitle</h4>
            </div>
            <div class="modal-body" id="modifyRoleContent" style="margin:0px;padding:5px">
                @using (Ajax.BeginForm("SaveModify", "Role", null
                    , new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        OnSuccess = "completeSaveModify",
                        OnBegin = "beginSaveModify"
                    }
                    , new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <input type="submit" class="btn btn-primary" value="@StringResource.Role_Save" id="btnSaveModify" />
                        </div>
                        <div class="panel-body">
                            <div class="alert fade in hide" role="alert" id="modifyStatusMessage">
                                <button type="button" class="close" onclick="hideModifyRoleAlert()">
                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                </button>
                                <p></p>
                            </div>
                            <div id="modifyRoleFormContent">
                                @Html.Partial("_ModifyRolePartial", new RoleViewModel())
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" language="javascript">
        //刷新角色列表
        function refreshRoleList() {
            if ($("#frmPagingQuery").length > 0) {
                $("#frmPagingQuery").submit();
            }
        }
        //隐藏状态消息
        function hideStatusMessage() {
            $("#statusMessage").addClass("hide");
        }
    </script>
    @*新增角色*@
    <script type="text/javascript" language="javascript">
        //保存角色
        $(function () {
            $('#addRole').on('hide.bs.modal', function (e) {
                $("#btnResetAddRole").click();
            });
            $("#addRole,#modifyRole").on('shown.bs.modal', function (e) {
                var texts = $(this).find(":text:visible:enabled,:checkbox:visible:enabled,textarea:visible:enabled,select:visible:enabled");
                texts.eq(0).focus().select();
            });
        })

        function showAddRoleModal() {
            hideAddRoleAlert();
            hideStatusMessage();
            $("#btnSaveRole").removeAttr("disabled");
            $('#addRole').modal('show');
        }

        function hideAddRoleAlert() {
            $("#addStatusMessage").addClass("hide");
        }

        function beginSaveRole() {
            $("#btnSaveRole").attr("disabled", "disabled");
        }

        function completeSaveRole(result) {
            $("#btnSaveRole").removeAttr("disabled");
            $("#addStatusMessage").find("p").html(result.Message);
            $("#addStatusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#addStatusMessage").removeClass("alert-success");
                $("#addStatusMessage").addClass("alert-danger");
            }
            else {
                $("#addStatusMessage").removeClass("alert-danger");
                $("#addStatusMessage").addClass("alert-success");
                refreshRoleList();
            }
        }
    </script>
    @*显示明细*@
    <script type="text/javascript" language="javascript">
        //显示明细
        function showRoleInfoModal(result) {
            hideStatusMessage();
            $('#roleInfo').modal('show');
        }
    </script>
    @*修改角色*@
    <script type="text/javascript" language="javascript">
        //修改角色
        function showModifyRoleModal(result) {
            hideModifyRoleAlert();
            hideStatusMessage();
            $("#btnSaveModify").removeAttr("disabled");
            $('#modifyRole').modal('show')
        }

        function hideModifyRoleAlert() {
            $("#modifyStatusMessage").addClass("hide");
        }

        function beginSaveModify() {
            $("#btnSaveModify").attr("disabled", "disabled");
        }

        function completeSaveModify(result) {
            $("#btnSaveModify").removeAttr("disabled");
            $("#modifyStatusMessage").find("p").html(result.Message);
            $("#modifyStatusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#modifyStatusMessage").removeClass("alert-success");
                $("#modifyStatusMessage").addClass("alert-danger");
            }
            else {
                $("#modifyStatusMessage").removeClass("alert-danger");
                $("#modifyStatusMessage").addClass("alert-success");
                refreshRoleList();
            }
        }
    </script>
    @*删除角色*@
    <script type="text/javascript" language="javascript">
        //删除角色
        function completeDeleteRole(result) {
            $("#statusMessage").find("p").html(result.Message);
            $("#statusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#statusMessage").removeClass("alert-success");
                $("#statusMessage").addClass("alert-danger");
            }
            else {
                $("#statusMessage").removeClass("alert-danger");
                $("#statusMessage").addClass("alert-success");
                refreshRoleList();
            }
        }
    </script>
}