@model ServiceCenter.Client.Mvc.Areas.ERP.Models.WOReportQueryViewModel
@using ServiceCenter.Model;
@using ServiceCenter.Common;
@using ServiceCenter.Client.Mvc.Areas.ERP.Models;
@using ERP = ServiceCenter.Client.Mvc.Resources.ERP;
@using ServiceCenter.Client.Mvc.Resources;

@{
    ViewBag.Title = ERP.StringResource.ERPWIReport_ManagePageTitle;
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">

    <div class="panel-heading">
        &nbsp;
    </div>

    <div class="panel-body">
        @using (Ajax.BeginForm("Query", "ERPWIReport", null
            , new AjaxOptions()
            {
                HttpMethod = "Post",
                UpdateTargetId = "list"
            }
            , new { @class = "form-horizontal", resource = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-1">
                    @Html.LabelFor(m => m.BillCode, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.BillCode, new { @class = "form-control" })
                </div>

                @* 非报废入库类型 *@
                <div class="col-md-1">
                    @Html.LabelFor(m => m.BillType, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.BillType
                            , @Model.GetStockInType(0)
                            , string.Empty
                            , new { @class = "form-control" })
                </div>

                @* 状态 *@
                <div class="col-md-1">
                    @Html.LabelFor(m => m.BillState, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.BillState
                            , @Model.GetStockInState()
                            , string.Empty
                            , new { @class = "form-control" })
                </div>

                <div class="col-md-1">
                    <input type="submit" value="@StringResource.Query" class="btn btn-default" id="btnQuery" />
                </div>
            </div>
        }
    </div>

    <div class="alert fade in hide" resource="alert" id="statusMessage" style="margin:0px">
        <button type="button" class="close" onclick="hideStatusMessage()">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <p></p>
    </div>

    <div id="list">
        @Html.Partial("_ListPartial", new WOReportViewModel())
    </div>

</div>

@section Scripts {
    <script type="text/javascript" language="javascript">

        $(function () {
            $("#btnQuery").submit();
            //$("#txtBillDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    dateFormat: "yy-mm-dd"
            //});
            //$("#txtBillMakedDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    dateFormat: "yy-mm-dd"
            //});

            //$('#add').on('hide.bs.modal', function (e) {
            //    $("#btnReset").click();
            //})
        })

        $("#BillCode").keypress(function (args) {
            if (args.keyCode == 13) {
                $("#btnQuery").click();
            }
        });

        $('select#BillType').change(function () {
            $("#btnQuery").click();
        });

        $('select#BillState').change(function () {
            $("#btnQuery").click();
        });

        function refreshList() {
            if ($("#frmPagingQuery").length > 0) {
                $("#frmPagingQuery").submit();
            }
        }

        function hideStatusMessage() {
            $("#statusMessage").addClass("hide");
        }

    </script>

}

