@model ServiceCenter.Client.Mvc.Areas.FMM.Models.EquipmentLayoutDetailViewModel
<div class="form-group">
    @Html.LabelFor(m => m.LayoutName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.LayoutName</p>
        @Html.HiddenFor(m => m.LayoutName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EquipmentCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.DropDownListFor(m => Model.EquipmentCode
                            , @Model.GetEquipmentCodeList()
                            , string.Empty
                            , new { @class = "form-control",@id="drpEquipmentCode" })
        @Html.ValidationMessageFor(m => m.EquipmentCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control",@id="txtDescription" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Left, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Left, new { @class = "form-control" })
        @Html.HiddenFor(m => m.Left)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Top, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Top, new { @class = "form-control" })
        @Html.HiddenFor(m => m.Top)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Width, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
       @Html.TextBoxFor(m => m.Width, new { @class = "form-control" })
        @Html.HiddenFor(m => m.Width)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Height, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
        @Html.HiddenFor(m => m.Height)
    </div>
</div>