@model ServiceCenter.Client.Mvc.Areas.ZPVM.Models.PowersetDetailViewModel
<div class="form-group">
    @Html.LabelFor(m => m.Code, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.Code</p>
        @Html.HiddenFor(m => m.Code)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ItemNo, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.ItemNo</p>
        @Html.HiddenFor(m => m.ItemNo)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SubCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.SubCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SubCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SubName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.SubName, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.SubName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MinValue, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.MinValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MinValue)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaxValue, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.MaxValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MaxValue)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Picture, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <input type="file" name="Picture" class="form-control-static">
        @Html.HiddenFor(m => m.Picture)
        @Html.ValidationMessageFor(m => m.Picture)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IsUsed, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.IsUsed, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsUsed)
    </div>
</div>