@model ServiceCenter.Client.Mvc.Areas.ZPVM.Models.ProductControlObjectViewModel
@using ServiceCenter.Common;

@Html.ValidationSummary(true)
<div class="form-group">
    @Html.LabelFor(m => m.ProductCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.ProductCode</p>
        @Html.HiddenFor(m => m.ProductCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ProductName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.ProductName</p>
        @Html.HiddenFor(m => m.ProductName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CellEff, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.CellEff</p>
        @Html.HiddenFor(m => m.CellEff)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SupplierCode, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.SupplierCode</p>
        @Html.HiddenFor(m => m.SupplierCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SupplierName, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.SupplierName</p>
        @Html.HiddenFor(m => m.SupplierName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Object, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.Object</p>
        @Html.HiddenFor(m => m.Object)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Type, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        <p class="form-control-static">@Model.Type</p>
        @Html.HiddenFor(m => m.Type)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Value, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Value, new { @class = "form-control", style = "text-transform:uppercase;ime-mode:inactive" })
        @Html.ValidationMessageFor(m => m.Value)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IsUsed, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.CheckBoxFor(m => m.IsUsed, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsUsed)
    </div>
</div>